.login-container {
    max-width: 500px;
    margin: 40px auto;
    border: 1px solid lightgray;
    padding: 10px;
    box-shadow: 1px 1px 3px lightgray;
}

.ng-invalid {
    border-left: 5px solid red;
}

.ng-valid {
    border-left: 5px solid green;
}

button {
    display: block;
    margin: auto;
}

.back {
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: -80px;
    height: 200px;
    background-color: #6d8ebf;
    transform: skewy(-5deg);
}

.error-message {
    color: red;
    margin: auto;
    margin-top: 10px;
    text-align: center;
}